@import url('https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap');



.App {
  text-align: center;
  background-color: #F5F5F5;
  color: #112D4E;
  font-family: 'Jost', sans-serif;
}

.HolyGrail,
.HolyGrail-body {
  display: flex;
  flex-direction: column;
}


.HolyGrail-nav {
  order: -1;
}

header, footer {
  border: 1px solid #3F72AF
}


input {
  margin: 2px;
  padding: 1px;
}

button {
  border-radius: 1em;
}

form {
  margin: 4px;
}

input[type=text]:focus {
  border: 2px solid #3F72AF
  
}

@media (min-width: 768px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
  }
  .HolyGrail-content {
    flex: 1;
    border: 1px solid #3F72AF;
  }
  .HolyGrail-nav, .HolyGrail-ads {
    /* 12em is the width of the columns */
    flex: 0 0 17em;
    border: 1px solid #3F72AF;
  }
}




.chart-container {
  margin: 4px;
  padding: 4px;
  display: flex;
  flex-direction: row;
  align-content: center;
  height: 25%;
  width: 25%;
}
